<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="../js/map.js"></script>
  </head>
  <body>
    <div id="map-canvas"></div>
    <input class="search-field" type="text" value="" />
  </body>
</html>
