<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
  </head>
  <body>
    <div id="map-canvas"></div>
  </body>
</html>
